.card1 {
    display: flex;
    align-items: flex-start;
    border: 1px solid hsl(0, 0%, 80%);
    box-shadow: 0 0 5px 5px hsla(0, 0%, 0%, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
.card-image1 {
    flex: 0 0 auto;
    width: 600;
    height: 400;
    margin-bottom: 10px;
}
  
.card-content1 {
    flex: 1;
    padding: 20px;
}
  
.card-title1 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
    color: hsl(0, 0%, 20%);
}
  
.card-description1 {
    font-family: Arial, sans-serif;
    text-align: justify;
    color: hsl(0, 0%, 30%);
}

.card2 {
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0 0 5px 5px hsla(0, 0%, 0%, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card-image2 {
  width: 100%;
  height: auto;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.card-content2 {
  padding: 20px;
}

.card-title2 {
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
  color: hsl(0, 0%, 20%);
}

.card-description2 {
  font-family: Arial, sans-serif;
  text-align: justify;
  color: hsl(0, 0%, 30%);
}

.card-text {
  display: flex;
  justify-content: space-between;
}